<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/caregiver.css}">
<HTML>
<HEAD>
    <LINK rel="stylesheet" href="caregiver.css" type="text/css">
    <TITLE>HomeCare</TITLE>

</HEAD>
<BODY>
<br>
<h1>Welcome Caregiver!</h1>

</BODY>

</html>