<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<HTML>
<HEAD>
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/doctor.css}">
    <TITLE>HomeCare</TITLE>

</HEAD>
<BODY>
<br>
<h1>Welcome Doctor!</h1>

</BODY>

</html>